body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ecf0f1; /* Background color for the body */
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}

.welcome-container {
    text-align: right;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.welcome-message {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    margin-left: 2rem;
    font-family: Poppins ,sans-serif;
    margin-top: 1.5rem;

}

.logout-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; /* Remove default button underline */
}

.logout-button:hover {
    background-color: #c0392b;
    transition: background-color 0.3s;
}

.custom-button {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 2rem;
    opacity: 0.8;
}

.custom-button:hover {
    background-color: #2980b9;
    opacity : 1;
}
